[Unit]
Description=ARGO Authentication Service
#Requires=mongod

[Service]
User=argo-api-authn
Group=argo-api-authn
WorkingDirectory=/var/www/argo-api-authn
ExecStart=/bin/bash -c '/var/www/argo-api-authn/argo-api-authn'

[Install]
WantedBy=multi-user.target
